body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style: none
}

a {
    text-decoration: none
}
.nav-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.nav-logo-text {
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts-address {
    font-style: normal;
}

.contacts-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-size: 56px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.feature-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-item-paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-members-list {
    background-color: #FFFFFF
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.members-paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-logo .logo-accent {
    color: #f4f4fd;
}

.footer-logo-text {
    color: #f4f4fd;
}

.footer-paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

