body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    list-style: none
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    align-items: center;
    margin-right: 156px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-logo {
    margin-right: 76px;
    margin-left: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-logo-text {
    color: #2e2f42;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts-address {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 156px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero {
    padding: 188px 0;
    text-align: center;
    background-color: #2E2F42;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto 48px auto;
    font-size: 56px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button {
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.features {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.features-item {
    width: calc((100% - 72px) / 4);
   
}

.feature-item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-members-list {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF
}

.team-members-list .img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.member-info {
    padding: 32px 0;
}

.member-name {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.members-paragraph {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
    padding: 120px 0;
}

.portfolio .li {
    width: calc((100% - 48px) / 3);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio .img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 156px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo .logo-accent {
    color: #f4f4fd;
}

.footer-logo-text {
    color: #f4f4fd;
}

.footer-paragraph {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

